* {
  margin:100px;
}
body {
<<<<<<< HEAD
  background:blue;
=======
<<<<<<< HEAD
<<<<<<< HEAD
  background:red;
=======
  background:skyblue;
>>>>>>> master
=======
  background:yellow;
>>>>>>> 597a8175f6e1e2575b23e9d10ac0f5a122589a3f
>>>>>>> master
}

